*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
/* header and nav bar styles */
.header{
    padding-top: 50PX;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    padding: 18px 36px;
    font-size: 18px;
    color: white;
    background: #FD6E0A;
    border: none;
    border-radius: 5px;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* header banner styles */

.banner{
    display: flex;
    align-items: center;
    margin-left:200px;
}
.banner-subtitle{
    font-size: 45px;
    color: #474747;
    font-weight: 400;
}
.banner-title{
    font-size: 60px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;
}
.btn-secondary{
    background: #FFF8F3;
    border:1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 18px 24px;
    margin-left: 30px;
    border-radius: 3px;
}
/* main section styles */
.about{
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title{
    text-align: center;
    font-size: 35px;
    color:#181818;
    margin-bottom: 30px;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.info-title{
    font-size: 18px;
    color: #757575;
}
.info-description{
    font-weight: 600;
    font-size: 18px;
    color: #474747;
}

/*what-i-do section styles */

.what-i-do{
    text-align: center;
}
.what-i-do .section-description{
    text-align: center;
    /* margin-bottom: 50px; */
    width: 900px;
    margin:0px auto 50px;
    
}
.skills-container{
    display: flex;
    gap:26px;
    
}
.skill{
    text-align: left;
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skill > img{
    margin-bottom: 30px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.skill-description{
    color: #757575;
}

/* resume summary styles */

.resume-content{
    margin-top: 63px;
    display: flex;
    gap: 26px;
}
.resume-content-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.resume-item .title{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.resume-item .subtitle{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.resume-item .description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 65px;
}
.resume-download-button {
    margin-top: 20px;
    text-align: center;
}

/* contact styles */
footer{
    padding:130px 200px;
    background: #FFF8F3;
    display: flex;
    gap: 110PX;
    margin-top: 113px;
}
.footer-description{
    margin-bottom: 30px;
    color: #474747;
}
.social a{
    text-decoration: none;
}
a:nth-child(even){
    margin-left: 24px;
    margin-right: 24px;

}
.social{
    width: 52%;
}
.message input[type="text"],input[type="email"],textarea{
    width: 100%;
    border-radius: 5PX;
    border: none;
    margin-bottom: 24px;
    padding: 18px 30px;
}
.footer-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px; 
}
@media screen and (max-width:576px){
    nav ul{
        align-items: flex-start;
    }
    nav ul{
        padding-left: 0;
    }
    ul li{
        margin-left: 0 !important;
        margin-bottom: 8px;
    }
    .header{
        background-image: none;
    }
    .banner,.nav{
        margin-left: 30px;
    }
    .banner img{
        width: 100%;
    }
    .nav,
    nav ul,
    .banner,
    .about-info-container,
    .skills-container,.resume-content,footer{
        flex-direction: column;
    }
    .about{
        padding: 40px 30px;
    }
    .section-description{
        width: 100%;
    }
    .what-i-do .section-description{
        width: 80%;
        padding: 30px;
    }
    .resume-content{
        padding: 0px 30px 0px 30px;
    }
    .resume-item{
        padding-right: 0;
    }
    footer{
        padding: 30px;
    }
    .social{
        width: 100%;
    }
    .footer-title,.footer-description
    .message{
        width: 100%;
    }
    .message input[type="text"], input[type="email"], textarea {
        padding: 18px 0 18px 5px;
    }
}

@media screen and (min-width:577px) and (max-width:992px){
    /* html,body{
        max-width: 100vw;
    } */
    .banner .btn-secondary{
        margin-left: 0;
        margin-top: 10px;
        padding: 15px 25px;
        font-size: 18px;
        border-radius: 6px;
    } 
    .banner img{
        width: 100%;
    }
    .what-i-do .section-description{
        width: 100%;
    }
    .resume-content{
        flex-direction: column;
    }
    .about,.what-i-do,.resume,footer{
        padding: 30px 0.8rem;
        border-radius: 20px;
    }
    .banner,.nav{
        margin-left: 30px;
    }
    .nav{
        margin-right: 30px;
    }
    footer{
        gap: 30px;
    }
    .message input[type="text"], input[type="email"], textarea {
        padding: 18px 0 18px 5px;
    }
    section{
        margin-top: 0;
    }
    .skills-container{
        gap: 1rem;
    }

}

.hide{
    display: none;
}